/* app */

body {
    padding-bottom: 1em;
}

.ui.main.menu {
    margin: 0;
    border-radius: 0;
}

.main.content > .ui.container {
    padding: 2em 0 2em 0;
}

form.button.form, .inline {
    display: inline;
}

/* streams */
.ui.streams.grid a:link > div,
.ui.streams.grid a:visited > div {
    color: black;
}

/* player */

.player.wrapper {
    padding: 2em 0 2em 0;
}

/* tokens */

.tokens.wrapper {
    margin-top: .5em;
}