{% extends 'layout.html' %}

{% block styles %}
<link href="/plugins/chromecast/silvermine-videojs-chromecast.css" rel="stylesheet">
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="player wrapper">
    <div class="ui player container">
        <video id="player" class="video-js vjs-default-skin vjs-16-9" controls preload="auto" data-setup="{}" autoplay>
    
            {% if flash %}
            <source src="{{ flashUrl }}" type='rtmp/mp4'>
            {% endif %}
            
            <source src="{{ hlsUrl }}" type='application/x-mpegurl'>
        
        </video>
    </div>
</div>

<div class="ui container">
    <div class="ui inverted segment">
        <h1 class="ui header">{{ stream.name }}</h1>

        <a href="{{ friendlyHlsUrl }}" class="ui orange inverted button" data-tooltip="HTTP Stream | Stable" download target="_blank">
            <i class="download icon"></i>
            VLC Playlist
        </a>

        {% if isOwner %}

        <a href="/token/manage/{{ stream.name }}" class="ui black inverted button" target="_blank">
            <i class="users icon"></i>
            Manage Tokens
        </a>

            {% if isOwner and not stream.is_private %}
            <form class="button form" action="/s/{{ stream.name }}/lock" method="post">
                <button type="submit" class="ui red inverted icon button" data-tooltip="Lock stream">
                    <i class="lock icon"></i>
                </button>
            </form>
            {% else %}
            <form class="button form" action="/s/{{ stream.name }}/unlock" method="post">
                <button type="submit" class="ui green inverted icon button" data-tooltip="Unlock stream">
                    <i class="unlock icon"></i>
                </button>
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js"></script>
<script src="/js/videojs.persistvolume.js"></script>

<script src="/plugins/chromecast/silvermine-videojs-chromecast.min.js"></script>
<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

<script>
    const config = {
        techOrder: {{ techorder | json_encode | raw }},
        plugins: {
            chromecast: {}
        }
    };

    (function(window, videojs) {
        const player = videojs('player', config);

        player.reloadSourceOnError();

        player.persistvolume({
            namespace: 'stream'
        });
    })(window, window.videojs);
</script>
{% endblock %}