{% extends 'layout.html' %}

{% block styles %}
<link href="/plugins/chromecast/silvermine-videojs-chromecast.css" rel="stylesheet">
<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="player wrapper">
    <div class="ui player container">
        <video id="player" class="video-js vjs-default-skin vjs-16-9" controls preload="auto" data-setup="{}" autoplay>
    
            {% if flash %}
            <source src="{{ flashUrl }}" type='rtmp/mp4'>
            {% endif %}
            
            <source src="{{ hlsUrl }}" type='application/x-mpegurl'>
        
        </video>
    </div>
</div>

<div class="ui container">
    <div class="ui inverted segment">
        <h1 class="ui header">{{ stream.name }}</h1>

        <a href="{{ friendlyHlsUrl }}" class="ui orange inverted button" data-tooltip="HTTP Stream | Stable" download target="_blank">
            <i class="download icon"></i>
            VLC Playlist
        </a>

        {% if isOwner %}
            {% if isOwner and not stream.is_private %}
            <form class="button form" action="/s/{{ stream.name }}/lock" method="post">
                <button type="submit" class="ui red inverted icon button" data-tooltip="Lock stream">
                    <i class="lock icon"></i>
                </button>
            </form>
            {% else %}
            <form class="button form" action="/s/{{ stream.name }}/unlock" method="post">
                <button type="submit" class="ui green inverted icon button" data-tooltip="Unlock stream">
                    <i class="unlock icon"></i>
                </button>
            </form>
            {% endif %}
        {% endif %}
    </div>

    {% if isOwner %}
    <h3 class="ui dividing header">
        Access Tokens

        {% if not stream.is_private %}
        <a class="ui small black label">
            <i class="info circle icon"></i>
            Not applicable: public stream
        </a>
        {% endif %}
    </h3>

    <form class="ui form" action="/token/{{ stream.name }}" method="POST">

        <div class="inline fields">
            <div class="field">
                <input type="text" name="description" id="description" placeholder="Description (Mandatory)" autocomplete="off" required>
            </div>
            <div class="field">
                <input type="number" name="max_usages" id="max_usages" placeholder="Max Usages" min="0">
            </div>
            <div class="field">
                <input type="date" name="expires_at" id="expires_at" placeholder="Expires At">
            </div>
            <button class="ui green inverted button" type="submit">
                <i class="plus icon"></i> Create Token
            </button>
        </div>

    </form>

    <div class="tokens wrapper">
        {% if stream.tokens|length > 0 %}
        <table class="ui selectable inverted table">
            <thead>
                <th></th>
                <th>Token</th>
                <th>Description</th>
                <th>Usages (max)</th>
                <th>Created</th>
                <th>Expires</th>
            </thead>
            <tbody>
                {% for token in stream.tokens %}
                <tr>
                    <td>
                        <form
                            onsubmit="return confirm('Remove token {{ token.token }}?');"
                            class="inline"
                            action="/token/delete/{{ token.id }}"
                            method="post"
                            >
                            <button type="submit" class="ui red inverted icon button" data-tooltip="Delete token">
                                <i class="trash icon"></i>
                            </button>
                        </form>
                        <button onclick="copyToClipboard($(this).next('p').text());" class="ui green inverted icon button" data-tooltip="Copy token link">
                            <i class="copy icon"></i>
                        </button>
                        <p style="display:none">{{ streamAbsoluteUrl }}?token={{ token.token }}</p>
                    </td>
                    <td>
                        {{ token.description }}
                    </td>
                    <td>
                        {{ token.token }}
                    </td>
                    <td>
                        {{ token.num_usages }}
                        
                        {% if token.max_usages > 0 %}
                            ({{ token.max_usages }})
                        {% else %}
                            (inf)
                        {% endif %}
                    </td>
                    <td>
                        {{ token.created_at }}
                    </td>
                    <td>
                        {% if token.expires_at %}
                            {{ token.expires_at }}
                        {% else %}
                            never
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui info message">
            No tokens to show
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js"></script>
<script src="/js/videojs.persistvolume.js"></script>

<script src="/plugins/chromecast/silvermine-videojs-chromecast.min.js"></script>
<script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>

<script>
    const config = {
        techOrder: {{ techorder | json_encode | raw }},
        plugins: {
            chromecast: {}
        }
    };

    (function(window, videojs) {
        const player = videojs('player', config);

        player.reloadSourceOnError();

        player.persistvolume({
            namespace: 'stream'
        });
    })(window, window.videojs);

    function copyToClipboard(text) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
{% endblock %}