<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if block('title') is defined %}
    <title>{{ appname }} - {{ title }}</title>
    {% else %}
    <title>{{ appname }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body>
    <div class="ui borderless main menu">
        <div class="ui text container">
            <div class="header item">
                {{ appname }}
            </div>
            <a href="#" class="item">Streams</a>
        </div>
    </div>

    <div class="ui container">
        {% block content %}{% endblock %}
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
</body>

</html>