<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ appname }} - {{ title }}</title>
    {% else %}
    <title>{{ appname }}</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    {% block styles %}{% endblock %}
</head>

<body>
    <div class="ui large borderless inverted main menu">
        <div class="ui container">
            <div class="header item">
                {{ appname }}
            </div>
            {% if authUser and authUser.can_list_streams %}
            <a href="/s" class="item">Streams</a>
            {% endif %}
            
            <div class="right menu">
                {% if authUser %}
                <a class="ui item">
                    {{ authUser.username }}
                </a>
                <a class="ui item" href="/logout">
                    Logout
                </a>
                {% else %}
                <a class="ui item" href="/login">
                    Login
                </a>
                {% endif %}
            </div>
            
        </div>
    </div>

    <div class="main content">
        {% block content %}{% endblock %}
    </div>
    

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>